@use '../../styles/partials/mixins';
@use '../../styles/partials/colors';

.form {

    &__details {
        margin-top: 2rem;
        @include mixins.flex(column, false, false, 1rem);
    }

    &__label {
        @include mixins.flex(column, false, false, 1rem);
    }

    &__input {
        padding: 1rem;
    }

    &__submit {
        background-color: colors.$primary-blue;
        color: colors.$primary-white;
        padding: 1rem;

        &--sending {
            opacity: 0.5;
        }
    }
}